<section id="overview" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">店舗概要</h2>
      </div>
    </div>
    <div class="row col-lg-12 text-center">
      <table class="table table-condensed">
  　　<tbody>
    　　<tr>
      　　<th scope="row">店舗名</th>
      　　<td>呑み処わはは</td>
    　　</tr>
    　　<tr>
      　　<th scope="row">代表者</th>
      　　<td>代表者</td>
    　　</tr>
    　　<tr>
      　　<th scope="row">TEL</th>
      　　<td>######</td>
    　　</tr>
        <tr>
      　　<th scope="row">営業時間</th>
      　　<td>17:00~23:00(ラストオーダーは22:30)</td>
    　　</tr>
        <tr>
  　　    <th scope="row">定休日</th>
  　　    <td>月曜日</td>
　　   　</tr>
　　　　<tr>
　　    　<th scope="row">席数</th>
　　    　<td>20</td>
　　   </tr>
  　　　</tbody>
　　　</table>
    </div>
  </div>
</section>
